#beliefs {
	position: relative;
	background-color: #06314b;
	color: #FFF;
	padding-top: 25px;
}

#beliefs h2 {
	margin-bottom: 15px;
}

#beliefs a {
	color: inherit;
}

#beliefs .item {
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: .4s;
	   -moz-transition: .4s;
	    -ms-transition: .4s;
	     -o-transition: .4s;
	        transition: .4s;
	text-align: center;
}

#beliefs .item:hover {
	background-color: #052c43;
	-webkit-transition: .4s;
	   -moz-transition: .4s;
	    -ms-transition: .4s;
	     -o-transition: .4s;
	        transition: .4s;
	cursor: pointer;
}

#beliefs img {
	width: 70px;
	height: 70px;
}

#beliefs .url {
	padding-bottom: 20px;
	font-size: 14px;
	color: #838E95;
}

#beliefs .little {
	font-size: 16px;
	text-align: justify;
}