h2 {
	text-align: center;
}

.section_header {
	position: relative;
	height: 80vh;
	max-height: 800px;
	width: 100%;
}

@media only screen and (max-height : 768px) {
	.section_header {
		min-height: 400px;
	}
}

.box_centered {
	width: 60%;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 5%;

	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.65);
	text-align: center;
	position: relative;
	padding: 10px;
	padding-top: 40px;
}

.box_centered img {
	max-width: 300px;
	width: 100%;
}

.box_centered h1 {
	font-size: 36px;
}

.section_2 {
	color: #fff;
	height: auto;
	position: relative;
	padding-top: 25px;
	padding-bottom: 30px;
}

.section_2 .box {
	padding-top: 1em;
	background-color: #05273b;
	border: 1px solid #003859;
}

.visual {
	text-align: center;
}

@media only screen and (max-width : 992px) {
	.brain {
		max-width: 300px;
		height: auto;
	}
}

@media only screen and (min-width : 992px) {
	.brain {
		position: absolute;
		top: 60px;
		left: -5%;
		width: 110%;
	}
}
