#cloud {
	position: relative;
	height: 100vh;
	width: 100%;
}

#cloud .box-container{
	position: absolute;
	top: 20%;
	width: 100%;
}

#cloud .box-inner {
	width: 35%;
	text-align: center;
	margin-left: 10%;
	color: #fff;
}

#cloud .box-inner h1 {
	font-size: 36px;
}

#cloud .footer {
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #fff ;
}

@media only screen and (max-width : 768px) {
    #cloud .box-inner {
		width: 70%;
		margin: auto;
	}

	#cloud .box-inner img {
		max-width: 290px;
	}

	#cloud .box-inner h1 {
		font-size: 26px;
    }
}
@media only screen and (max-height : 645px) {
	#cloud .box-container{
		top: 70px;
	}
}