#expertise {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #e0e0e0;
}

#expertise .container {
	text-align: justify;
}

#expertise .half-width {
	width: 50%;
}

#expertise h3 {
	color: #0b5783;
	margin-bottom: 25px;
}

#expertise h4 {
	color: #0b5783;
	margin-bottom: 15px;
}
#expertise .margin-left {
	margin-left: 15px;
}

#expertise .margin-right {
	margin-right: 15px;
}

#expertise .align-left {
	text-align: left;
}

#expertise .align-right {
	text-align: right;
}

#expertise .clear-left {
	clear: left;
}

#expertise .clear-right {
	clear: right;
}

@media only screen and (max-width: 992px) {
	#expertise .half-width {
		width: 100%;
	}
	#expertise .align-left {
		text-align: center;
	}
	
	#expertise .align-right {
		text-align: center;
	}
}