.section_header {
	position: relative;
	height: 100vh;
	width: 100%;
}

@media only screen and (max-height : 768px) {
	.section_header {
		min-height: 400px;
	}
}

.section_header .box_centered {
	/* width: 60%;
	min-width: 680px; */
	max-width: 680px;
	margin: auto;
	margin-top: 15%;
    border-radius: 8px;
	background-color: rgba(200, 200, 200, 0.6);
	text-align: center;
	position: relative;
	padding: 10px;
	padding-top: 40px;
}

.section_header .box_centered img {
	max-width: 400px;
	width: 100%;
}

.section_header .box_centered h1 {
	font-size: 36px;
}

@media only screen and (max-height : 600px) {
	.section_header .box_centered {
   		margin-top: 13%;
	}

}

@media only screen and (max-width : 992px) {
    .section_header .box_centered img {
        max-width: 320px;
    }
}

@media only screen and (max-width : 768px) {
    .section_header .box_centered {
		width: 70%;
		min-width: auto;
		margin-top: 35%;
	}

	.section_header .box_centered h1 {
		font-size: 26px;
    }
}