* {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, p, a, li {
	font-family: "AbelRegular";
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5, p, a, li {
	font-size: 18px;
}

p {
	margin-block-start: .8em;
	margin-block-end: .8em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

ul {
	padding-inline-start: 40px;
	overflow: auto;
}

a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

:focus {
	outline: none;
}

@media only screen and (max-width : 768px) {

	.wow {
		
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}